.footer_holder {
    margin-top: auto;
}

.footer_content {
    display: flex;
    gap: 55px;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_about {
    width: 48%;
}

.footer_about .footer_about_description {
    font-size: var(--font_14);
    font-weight: 400;
    line-height: 26.6px;
    text-align: right;
    color: var(--text-gray);
    margin-top: 16px;
}

.footer_about .footer_about_title {
    font-size: var(--font_25);
    font-weight: 500;
    color: var(--dark-blue);
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight: 700;
}

.footer_about .footer_about_title::before {
    content: '';
    width: 24px;
    height: 32px;
    display: inline-flex;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='33' viewBox='0 0 24 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M16.6045 8.25785C16.589 9.75505 16.3163 11.2234 15.8113 12.6066C15.132 14.4714 14.0352 16.1681 12.5973 17.5707C11.0591 19.0696 9.98463 20.935 9.46262 22.9554C8.96882 24.8733 8.98515 26.8834 9.51153 28.7952C9.52007 28.8262 9.5268 28.8575 9.53175 28.8889C9.94906 30.362 10.6624 31.7481 11.6383 32.9629C12.9956 30.614 15.0045 28.679 17.4416 27.3869L17.4501 27.3824C18.4728 26.8549 19.4113 26.1861 20.2366 25.3971L20.4566 25.1824C21.9372 23.7362 22.9998 21.9369 23.54 19.9664C24.0802 17.996 24.0795 15.9218 23.5381 13.9517C22.9967 11.9815 21.933 10.1829 20.4514 8.73751C19.3091 7.6231 17.9495 6.7491 16.4573 6.16448C16.5619 6.85305 16.6117 7.55282 16.6045 8.25785ZM12.3686 0.962891C13.339 2.17297 14.049 3.55264 14.4657 5.01866C14.4708 5.05338 14.478 5.08799 14.4875 5.12233C15.0298 7.09177 15.0309 9.16558 14.4906 11.1356C14.4144 11.4134 14.3278 11.6879 14.2311 11.9585C13.6447 13.5941 12.6849 15.0976 11.4031 16.3467C9.70667 18.0009 8.48485 20.0644 7.8632 22.3303C7.85526 22.3593 7.84742 22.3882 7.83969 22.4172C7.55851 23.4673 7.40725 24.5556 7.39584 25.6597C7.38856 26.3648 7.43845 27.0647 7.54305 27.7534C6.05002 27.1686 4.68976 26.294 3.54707 25.1788C2.06553 23.7329 1.002 21.9336 0.461026 19.9629C-0.0799132 17.9923 -0.0798614 15.9178 0.461169 13.9472C1.00214 11.9769 2.06548 10.1779 3.54668 8.73225L3.54745 8.73149L3.76774 8.5177C4.59453 7.72897 5.53509 7.06131 6.5601 6.5361L6.571 6.53042C9.00431 5.23903 11.0108 3.30731 12.3686 0.962891Z' fill='%230057CE'/%3E%3C/svg%3E%0A");
}

.footer_about .dark_footer_about_title::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='32' viewBox='0 0 24 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M16.6048 7.29496C16.5893 8.79216 16.3166 10.2605 15.8116 11.6437C15.1323 13.5085 14.0355 15.2052 12.5976 16.6078C11.0594 18.1067 9.98494 19.9721 9.46292 21.9925C8.96912 23.9104 8.98546 25.9206 9.51183 27.8323C9.52038 27.8634 9.5271 27.8946 9.53205 27.926C9.94936 29.3991 10.6627 30.7852 11.6386 32C12.9959 29.6511 15.0048 27.7161 17.4419 26.424L17.4504 26.4196C18.4731 25.892 19.4116 25.2232 20.2369 24.4342L20.4569 24.2195C21.9375 22.7733 23.0001 20.974 23.5403 19.0035C24.0805 17.0331 24.0798 14.9589 23.5385 12.9888C22.997 11.0186 21.9333 9.21997 20.4517 7.77462C19.3094 6.66021 17.9498 5.78621 16.4576 5.20159C16.5622 5.89016 16.6121 6.58992 16.6048 7.29496ZM12.3689 0C13.3393 1.21008 14.0493 2.58975 14.466 4.05577C14.4711 4.09049 14.4783 4.1251 14.4878 4.15944C15.0301 6.12888 15.0312 8.20269 14.4909 10.1727C14.4147 10.4505 14.3281 10.725 14.2314 10.9956C13.645 12.6312 12.6852 14.1347 11.4034 15.3838C9.70697 17.038 8.48516 19.1016 7.8635 21.3675C7.85557 21.3964 7.84773 21.4253 7.83999 21.4543C7.55882 22.5044 7.40755 23.5927 7.39615 24.6968C7.38886 25.402 7.43876 26.1019 7.54336 26.7906C6.05033 26.2057 4.69006 25.3311 3.54737 24.2159C2.06584 22.77 1.0023 20.9708 0.461331 19C-0.079608 17.0294 -0.0795562 14.9549 0.461474 12.9843C1.00244 11.014 2.06579 9.21505 3.54698 7.76936L3.54776 7.7686L3.76804 7.55481C4.59484 6.76608 5.5354 6.09842 6.56041 5.57321L6.57131 5.56753C9.00461 4.27614 11.0111 2.34442 12.3689 0Z' fill='%23B1C5FF'/%3E%3C/svg%3E%0A") !important;
}


.footer_menu_list {
    display: flex;
    gap: 25px;
    width: 100%;
    justify-content: space-around;
}

.list_title,
.list_title {
    font-size: var(--font_20);
    font-weight: 500;
    color: var(--text-black);
    margin-bottom: 5px;
}

.footer_menu_list li a {
    font-size: var(--font_14);
    font-weight: 500;
    color: var(--text-black);
    display: block;
    position: relative;
    transition: 0.3s;
}

.footer_menu_list li a:hover{
    color: var(--dark-blue);
}

.footer_menu_list li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer_menu_list li:not(:first-child) {
    margin-top: 12px;
}

.footer_menu_list li.label:after {
    content: attr(data-label);
    font-size: var(--font_12);
    font-weight: 500;
    color: var(--dark-blue);
    padding: 3px 10px;
    border-radius: 4px;
    border: 1px solid var(--dark-blue);
    height: fit-content;

}

.footer_info {
    min-width: 240px;
}

.contact_us li:not(:first-child) {
    margin-top: 17px;
    font-size: var(--font_14);
    font-weight: 500;
    color: var(--text-black);
    display: block;
}

.footer_info .contact_us li {
    display: flex;
    gap: 6px;
    align-items: center;
}

.footer_info .contact_us li svg {
    min-width: 16px;
    height: 16px;
}


.rights {
    font-size: var(--font_14);
    font-weight: 400;
    text-align: center;
    display: block;
    color: var(--text-gray);
    margin-top: 48px;
    margin-bottom: 20px;

}



@media (min-width: 767px) and (max-width: 1200px) {
    .footer_menu_list {
        flex-direction: column;
        width: 50%;
    }

}

@media screen and (max-width:767px) {
    .footer_menu_list {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer_content {
        flex-direction: column;
    }

    .footer_about {
        width: 100%;
    }
}


@media (min-width: 360px) and (max-width: 600px) {
    .footer_content {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:576px) {
    .footer_holder {
        padding: 0 15px;
    }
}